<tr>
  <td class='left'>
    <span class='favicon'><%= image_tag entry.source.favicon, :size => '16x16' %></span>
    <p><%= link_to entry.title.gilensize.html_safe, entry.link, :target => '_blank' %></p>
  </td>
  <td class='rating'><%= entry.vk_shares_count.to_i %></td>
  <td class='rating'><%= entry.facebook_shares_count.to_i %></td>
  <td class='rating'><%= entry.twitter_shares_count.to_i %></td>
  <td class='rating'><%= entry.summary_likes_count %></td>
  <td class='rating'><%= entry.summary_comments_count %></td>
  <td class='rating'><%= entry.rating %></td>
</tr>

