<% @entries_wrapper.collection.each do |entry| %>
  <%= render entry %>
<% end %>

<tr>
  <td>
    <%= link_to_next_page @entries_wrapper.paginateable_collection, 'Загрузить еще 15 новостей', :remote => true, :class => 'js-next btn next_page', :params => params %>
  </td>
  <td colspan='6'>
    <div class='source'>
      <%= simple_form_for :search, :url => period_path(current_period, params), :method => :get do |form| %>
        <div class='submit'>
          <%= form.submit 'Фильтр', :class => :btn %>
        </div>
        <%= form.input :source,
          :as => :select,
          :label => false,
          :collection => Source.all.group_by(&:source).keys.sort,
          :selected => current_source,
          :include_blank => true,
          :required => false
        %>
      <%= form.input :q, :as => :hidden, :input_html => {:value => search_query} %>
      <% end %>
    </div>
  </td>
</tr>

