<div class='filter'>
  <div class='timestamp'>
    <span>За</span>
    <ul>
      <% Entry.available_periods.each do |scope| %>
        <li<%= " class='selected'".html_safe if current_period == scope %>>
          <%= link_to t("period.#{scope}"), period_path(current_city, scope, params) %>
        </li>
      <% end %>
      <li>
        <%= form_tag "/#{current_city}", method: :get do %>
          <%= select_month(params[:custom_date].try(:first).try(:[], 'month').try(:to_i) || Date.today, prefix: 'custom_date[]') %>
          <%= select_year(params[:custom_date].try(:first).try(:[], 'year').try(:to_i) || Date.today, start_year: 2014, end_year: Date.today.year, prefix: 'custom_date[]') %>
          <%= submit_tag 'Фильтр' %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class='sort_by'>
    <span>По</span>
    <ul>
      <% Entry.available_sorts.each do |sort| %>
        <li<%= " class='selected'".html_safe if current_sort == sort %>>
          <%= link_to t("sort_by.#{sort}"), sort_by_path(current_city, sort, params) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
