<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta charset='UTF-8'>
    <title><%= content_for?(:title) ? yield(:title) : t('site.title') %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name='description' content='<%= t('site.description') %>' />
    <meta name='keywords' content='<%= t('site.keywords') %>' />
    <meta property='og:site_name' content='<%= t('site.title') %>' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='<%= Settings['app']['url'] %>' />
    <meta property='og:locale' content='ru_RU' />
    <meta property='og:title' content='<%= t('site.title') %>' />
    <meta property='og:description' content='<%= t('site.description') %>' />
    <meta property='og:image' content='<%= URI.join(root_url, asset_path('social_image_og.jpg')) %>' />
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@znaigorod'>
    <meta name='twitter:creator' content='@znaigorod'>
    <meta name='twitter:title' content='<%= t('site.title') %>'>
    <meta name='twitter:description' content='<%= t('site.description') %>'>
    <meta name='twitter:domain' content='<%= Settings['app']['url'] %>'>
    <meta name='twitter:url' content='<%= Settings['app']['url'] %>'>
    <meta name='twitter:image' content='<%= URI.join(root_url, asset_path('social_image_twitter.jpg')) %>'>
    <link rel='canonical' href='<%= Settings['app.url'] %>' />
  </head>
  <body>
    <%= render :partial => 'flash/notice_success' %>
    <%= render :partial => 'flash/alert_error' %>
    </div>
    <%= render :partial => 'header' %>
    <div class='container'>
      <div class='content'>
        <div class='left_side'>
          <%= render :partial => 'promo' %>
          <%= render :partial => 'shared/search' if controller_name == 'entries' %>
          <%= render :partial => 'social_share' %>
          <%= render :partial => 'shared/filter'if controller_name == 'entries' %>
          <%= yield %>
          <%= render :partial => 'social_share' %>
        </div>
      </div>
    </div>
    <%= render :partial => 'footer' %>
  </body>
</html>
